
:root {
    --rafting-background-color: rgb(234, 131, 222);
    --rafting-text-color: rgb(131, 222, 234);
    --rafting-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border-image: 1px solid rgb(221,222, 132);
    --margin: 2rem;
} 



html{
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-color:antiquewhite
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
	border-bottom: 1px solid #ccc;
    

}

.logo img {

    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}


nav {
    text-align: justify;
}

.navigation {
    display:  flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color:black;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color:aliceblue ;
    font-weight: 700;
    text-decoration: underline;
}

.logo-box {

    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    /* position: absolute; */
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
    text-align: center;
} 

div {
    position: relative;
}

/* .hero{

    position: absolute;
    background-size: cover;
    background-position: center;
    height: auto;
} */

/* .hero article {
    position: absolute;
    bottom: 10px;
    float: left;
    background-color:#000 ;
    color:#000 ;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
} */

h1 {
    position: relative;
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
    text-align: center;
}

p {
    
}

/* .hero img{
    float: right;
    display: block;
    width: 100%;
    height: 400px;
    
    max-width: 200px;
    max-height: 150px;
    cursor: zoom-out;
    padding: 1rem;
    -webkit-validation-bubble-text-block:var(--border-image);

} */

.radio iframe {

    width: 100%;
    height: 300px;
}

.client img{

    display: grid;
    width: 2%;
    height: 1px;
    position: relative;
    padding: 0;
    margin: 0.5rem;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    background-color:  #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
}


label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    margin: 0;
    background-color: rgb(0, 128, 100);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.form-item {
    display:contents ;
    text-align:justify;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}


figure {

    border: thick  #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 200px;
    margin: auto;
}

figcaption {
    background-color: azure;
    /* color: #c0c0c0; */
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer {
    bottom: 0;
    margin: 1rem;
    border-top: 1px solid #000;
    padding: 0.5rem;
    color: #000;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}




