:root {
    --style-background-color: rgb(0, 204, 255);
    --background-color: rgb(255, 240, 240);
    --style-text-color: #333;
    --style-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 0px;
    --border: 1px solid rgba(0,0,0,0.1);
    --display: rgba(85, 51, 68, 0.2);
    --color: rgba(38, 32, 32);
    --margin: 0px;
    --box-sizzing: border-box;

}

header, .grid, footer{

    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--background-color);
    padding: 1rem;
    display: block;
    justify-content: space-evenly;
    align-items: center;
}


nav a {
    display: block; 
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color)  
}

div {
    width: 20rem;
    margin: 1rem;
    /* border: 1px solid silver; */
    padding: 2px;
    /* background-color: darkkhaki; */
    color: aliceblue;
    text-align: center;
}


main {
    grid-column: 2/3;
    align-items: center;

}

.grid {

    display: grid;
    align-items:center;
}

h1 {
    color: var(--style-text-color);
    border-bottom: 1rem;
}

main img {
    width: 150px;
    height: auto;
    background-color: var(--style-background-color);
    float: right;
}

/* li {
    margin: 10px;
    padding: 10px;
    box-sizing: var(--box-sizzing);
} */

/* class selector */

.box{
    margin: 1rem;
    padding: 1rem;
    border:1px solid rgba(0,0,0,.1);
    background-color: aliceblue;
    color: antiquewhite;
}

ul {
    /* margin: 1rem;
    padding: 1rem;
    border:1px solid rgba(0,0,0,.1);
    background-color: aliceblue;
    color: antiquewhite; */
    max-width: 840px;
    margin: 0 auto;
    background-color: aliceblue;
    border:1px solid rgba(0,0,0,.1);
    
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    color: var(--style-text-color);
    border-bottom: 1rem;
}

aside img {
    width: 200px;
    height: 200px;
    padding: 1rem;
}

/* .img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray; 
} */

p {
    padding: 0;
    color: var(--style-text-color);

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}