:root {
    --style-background-color: rgb(0, 204, 255);
    --background-color: rgba(36, 105, 36, 0.767);
    --style-text-color: #333;
    --style-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);
    --display: rgba(85, 51, 68, 0.2);
    --color: rgba(38, 32, 32);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    background-color: var(--style-background-color);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 2px;
    background-color: var(--style-background-color);
    color: aliceblue;
    text-align: center;
}

h2 {
    color: var(--style-text-color);
}

aside img {
    width: 200px;
    height: auto;
}


nav {
    background-color: var(--background-color);
    padding: 10px;
}


nav a {
    color: var(--color);
    display: block;
    padding: 20px;
    text-align: center;
    
}

div {
    width: 20rem;
    margin: 1rem;
    border: 1px solid silver;
    padding: 2px;
    background-color: darkkhaki;
    color: aliceblue;
    text-align: center;
}

h1 {
    color: var(--style-text-color);
}

img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray; 
}

p {
    padding: 0;
    color: var(--style-text-color);

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}